@import "tailwindcss";




/* Light theme (default) */
:root {
  --bg-primary: #E1DBC4;
  --bg-secondary: #c1bfbff7;
  --text-primary: #2d3748;
  --text-secondary: #4a5568;
  --accent-primary: #537D5D;
  --accent-secondary: #6A9971;
  --border-color: #e2e8f0;
  --bg-gradient: linear-gradient(135deg, #1e3c72, #2a5298);

}

.dark {
  --bg-primary: #2d3748;
  --bg-secondary: #4a5568;
  --text-primary: #E1DBC4;
  --text-secondary: #A3C9A8;
  --accent-primary: #A3C9A8;
  --accent-secondary: #6A9971;
  --border-color: #718096;
  --text-ternary: #6ba058;
}


